<div class="loginBlock">

  <mat-card>

    <mat-toolbar class="toolbarSingIn" color="primary">
      <span >App Sign In</span>
    </mat-toolbar>

    <form >

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="moi@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="aLink">
        <a href="#" class="forgotPassword">forgot password ?</a>
        <a routerLink="/signUp" class="createNewAccount">create account ?</a>
      </div>

      <div class="loginButton">
        <button mat-raised-button color="accent" (click)="onLogin()">Login</button>
      </div>
  
    </form>

  </mat-card>