<div class="loginBlock">
    <mat-card>
  
      <mat-toolbar color="primary" class="toolbarSingIn">
        <span style="font-size:2rem">App Sign Up</span>
      </mat-toolbar>
  
      <form [formGroup]="newAccount" class="example-container">

        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <input type="text" matInput placeholder="moi@example.com" [formControl]="text" required >
          <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput placeholder="moi@example.com" [formControl]="email" required >
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>confirm your password</mat-label>
          <input type="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <div type="submit" (click)="onSubmitForm()" class="loginButton">
          <button mat-raised-button color="accent">Login</button>
        </div>
  
      </form>
  
    </mat-card>
  </div>
  